<div class="content-holder" ng-controller="master-controller">

    <!-- Logo -->
    <img src="/img/pubquiz-logo.png" alt="pubquiz"/>

    <!-- Form for creating the room -->
    <form class="form-holder" autocomplete="off">
        <input type="text" id="roomname" ng-model="roomName" autocomplete="off"
               placeholder="Please enter your quiz name" autofocus required/>
        <button class="submit" ng-click="sendRoomName()"> NEXT <i class="fa fa-angle-right"></i> </button>
    </form>

</div>