<div class="content-holder" ng-controller="master-controller">
    <img src="img/pubquiz-logo.png" alt="pubQuiz"/>

    <h1 class="page-header"> Master Overview </h1>

    <div class="team-holder">
        <div class="team">
            <div class="team-header">
                Team #1
            </div>
            <div class="team-score-holder">
                <div class="team-score-name"> Score: </div>
                <div class="team-score-points"> 0 </div>
            </div>

        </div>
    </div>

    <div class="answer-holder">
        <div class="answer">

        </div>
    </div>
</div>