<div ng-init="dashboard_init()">

    <!-- Teams -->
    <div class="col-sm-3">
        <h3>Round: {{currentGame.roundNumber}}</h3>
        <div class="table-responsive">

            <table class="teams table table-striped">
                <thead>

                <tr>

                    <th> Team </th>
                    <th> Score </th>

                </tr>

                </thead>

                <tbody>

                <tr class="team" ng-repeat="team in teams">

                    <td>{{ team.name }}</td>
                    <td>{{ team.score }}</td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

    <!-- Answers & Questions -->
    <div class="col-sm-9">
        <div style="max-height: 200px; overflow: auto; background: #fff; padding: 15px;">
            <!-- Questions-->
            <div class="question" ng-repeat="question in questions">
                <button ng-disabled="currentGame.roundStarted" ng-class="question.class" ng-click="select_question(question.id)" ng-bind="question.question">{{ question.question }}</button>
            </div>
        </div>

        <div style="min-height: 200px; background: #fff; margin-top: 30px; padding: 15px;">
            <!-- Answers -->
            <h3 ng-bind="currentGame.currentQuestion"></h3>
            <div class="answers" ng-repeat="answer in answers">

                <p><strong>Team: </strong> <span ng-bind="answer.team"></span></p>
                <p><strong>Answer: </strong> <span ng-bind="answer.answer"></span></p>

                <div class="controls">
                    <button type="button" class="btn btn-success" ng-click="correct_answer(answer)"> Correct answer</button>
                    <button type="button" class="btn btn-danger" ng-click="wrong_answer(answer)"> Wrong answer</button>
                </div>

            </div>

        </div>
    </div>

    <div class="col-sm-12">
        <div class="row">

            <div class="col-sm-6">
                <div class="pull-left" ng-if="currentGame.roundNumber > 0">

                    <button class="btn" ng-click="end_Round()" ng-disabled="currentGame.roundStarted == false"><i class="fa fa-ban"></i> End current round </button>

                </div>
            </div>

            <div class="col-sm-6">
                <div ng-if="currentGame.roundNumber === 0" class="pull-right">

                    <button class="btn" ng-click="start_Round()" ng-disabled="currentGame.roundStarted"><i class="fa fa-arrow-circle-o-right"></i> Start the first round </button>

                </div>

                <div ng-if="currentGame.roundNumber > 0" class="pull-right">

                    <button class="btn" ng-click="start_Round()" ng-disabled="currentGame.roundStarted"><i class="fa fa-arrow-circle-o-right"></i> Next Round </button>

                </div>
            </div>


        </div>
    </div>





</div>