<div ng-init="dashboard_init()">

    <!-- Teams -->
    <div class="col-md-3">

        <div class="table-responsive">

            <table class="teams table table-striped">
                <thead>

                <tr>

                    <th> Team </th>
                    <th> Score </th>

                </tr>

                </thead>

                <tbody>

                <tr class="team" ng-repeat="team in teams">

                    <td>{{ team.name }}</td>
                    <td>{{ team.score }}</td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

    <!-- Answers & Questions -->
    <div class="col-md-9">
        <div style="max-height: 200px; overflow: auto; background: #fff; padding: 15px;">
            <!-- Questions-->
            <div class="question" ng-repeat="question in questions">
                <p ng-click="select_question(question.id)" ng-bind="question.question">{{ question.question }}</p>
            </div>
        </div>

        <div style="min-height: 200px; background: #fff; margin-top: 30px;">
            <!-- Answers -->
        </div>
    </div>



</div>