<div class="row">

    <div class="col-md-12">

        <h1> Accept the joining teams </h1>

    </div>

    <!-- show teams -->
    <div class="col-md-12" ng-if="teams.length > 0">

        <div class="team" ng-repeat="team in teams">

            <div class="row">

                <div class="col-md-10">
                    {{ team.name }} <span ng-if="team.accepted === true" > - accepted </span> <span ng-if="team.accepted === 'declined'" > - declined </span>
                </div>

                <div class="col-md-2">
                    <button ng-click="accept_team(team)" class="btn btn-action"><i class="fa fa-check-circle-o"></i></button>
                    <button ng-click="decline_team(team)" class="btn btn-action"><i class="fa fa-ban"></i></button>
                </div>

            </div>


        </div>

        <div class="pull-right">

            <button class="btn btn-action"><i class="fa fa-arrow-circle-o-right"></i></button>

        </div>

    </div>

</div>
