<!-- error handling -->
<div class="alert">

    {{ error }}

</div>
<form ng-submit="">
    <!-- input fields -->
    <div class="input-group">

        <p ng-bind="currentQuestion">{{currentQuestion}}</p>

        <input type="text" name="create" ng-model="room" id="create" class="form-control" placeholder="Answer here.." autofocus required/>

        <div class="input-group-btn">

            <button type="submit" class="btn btn-action pull-right"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>

        </div>

    </div>
</form>