<!-- error handling -->
<div class="alert">

    {{ error }}

</div>
<form ng-submit="send_answer()">
    <!-- input fields -->
    <div class="input-group">

        <p ng-bind="currentGame.currentQuestion">{{currentGame.currentQuestion}}</p>

        <input ng-readonly="!currentGame.answerAble" type="text" name="create" ng-model="answer" id="create" class="form-control" placeholder="{{currentGame.placeHolder}}" autofocus required/>

        <div class="input-group-btn">

            <button ng-disabled="!currentGame.answerAble" type="submit" class="btn btn-action pull-right"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>

        </div>

    </div>
</form>