<div class="content-holder" ng-controller="master-controller">

    <h1 class="page-header"> Accept Teams </h1>


    <div class="requesting-teams">

    </div>

    <div class="accepted-teams">

    </div>


    <!-- <h2 ng-repeat="teamname in joinRequests">
        {{teamname}}
    </h2> -->
</div>

<!-- <script>
    swal({
        title: 'Waiting...',
        text: 'This message will be gone when teams join',
        imageUrl: "img/magnify.gif",
        showConfirmButton: false
    });
</script> -->
