<div class="flex-wrapper-master">
    <div class="flex-container z-depth-2">
        <div class="row">
            <div class="col s12">
                <div class="title-box">
                    <span id="roomidalign">
                        RoomID:
                        <span id="room-id"></span>
                    </span>

                    <h1>QuizMaster</h1>
                    <span class="right">Round:
                        <span id="round-number">0</span>
                    </span>
                    <button type="button" class="endroundbtn waves-effect waves-light btn" onclick="stopronde()"
                            disabled> End current round
                    </button>
                </div>
                <div class="content-box">
                    <div class="row">
                        <div class="col s3 scores">
                            <div class="title-box">
                                <h4>Score</h4>
                            </div>
                            <!-- TEAM WITH SCORE WILL APPEND HERE -->
                        </div>

                        <div class="col s6">
                            <div class="title-box">
                                <h4>Content</h4>
                            </div>

                            <div>
                                <p> Question: {{masterQuestion}}</p>

                                <p> Answer: {{masterAnswer}}</p>
                            </div>

                            <hr>

                            <div id="answers-holder">
                            </div>
                        </div>

                        <div class="col s3">
                            <div class="title-box">
                                <h4>Questions</h4>
                            </div>

                            <div class="row card-holder">
                                <div class="col s12">
                                    <div class="card" ng-repeat="q in getQuestions"
                                         ng-click="selectQuestion(q)">
                                        <div class="card-content {{ q._id }}">
                                            <p style="color: #000;">{{ q.question }}</p>
                                        </div>
                                        <div class="card-action {{ q._id }}"><a>categorie: {{ q.category }}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" style="display: none;">
    </div>

    <div class="modal">
        <div class="modal-content">
            <h4>Create a new room</h4>
            <p class="error"></p>
            <form>
                <label for="roompassword"></label>
                <input id="roompassword" type="text" name="name" placeholder="Type here..." id="teamname"/>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closeModal(document.getElementById('roompassword').value)"
                    class="waves-effect btn-flat">agree
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var answers = [];
    $(window).resize(function () {
        var totalHeight = $(window).height();
        var offsetTop = $('.card-holder').offset().top;

        $('.card-holder').css('height', ((totalHeight - offsetTop) - 15));
    });

    $(document).ready(function () {
        var totalHeight = $(window).height();
        var offsetTop = $('.card-holder').offset().top;

        $('.card-holder').css('height', ((totalHeight - offsetTop) - 15));
    });

    var socket = io.connect(document.location.protocol + '//' + document.location.host);
    var roomname;
    var amountofsignins = 0;
    var rondestopped = false;

    $('.modal').openModal({
        dismissible: false
    });

    $("input#roompassword").keyup(function (event) {
        if (event.keyCode == 13) {
            $("button").click();
        }
    });

    socket.on('nieuweclient', function (data) {
        amountofsignins = (amountofsignins + 1);
        $('.popup').append('\
          <div class="popup-content" id="' + data.Teamname + ' ' + data.clientID + ' ">\
              <span> Mag het team ' + data.Teamname + ' joinen?</span>\
              <button onclick="acceptTeam(this)" class="agree">Agree</button>\
              <button onclick="declineTeam(this)" class="decline">Decline</button>\
          </div>\
        ');
        $('.popup').show();
    });

    socket.on('roomexists', function() {
        setTimeout(function () {
            $('.modal').openModal();
            $('.error').html("The room already exists, please enter a new room name");
        }, 500);
    });

    socket.on('questionPull', function (data) {
        $("#round-number").html(data.roundnr);
    });

    socket.on('sendAnswer', function (data) {
        $("#answers-holder").append('<div id="'+data.teamname+'">' + data.teamname + ': '+ data.answer +'<button class="waves-effect btn-flat correctbutton'+' '+  data.teamname +'" onclick="answerCheck(this, true)" disabled>Correct</button><button onclick="answerCheck(this, false)" class="waves-effect btn-flat wrongbutton'+' '+  data.teamname +'" disabled>Wrong</button></div>');
        answers.push(data);
    });

    socket.on('endofgame', function () {
        $('.modal').openModal();
        $('.error').html("12 rounds have passed, please enter a new room name");
    });


    function answerCheck(element, bool) {
        var teamname = $(element).parent().attr('id');
        socket.emit('answerCheck', {roomname: roomname, teamname: teamname, correct: bool});
        var current = parseInt($(".card#"+$(element).parent().attr('id')+" #score").html());
        if(bool === true) {
            $(".card#"+ $(element).parent().attr('id') +" #score").html((current + 1)); // punt toekennen in de dom
            $(element).attr('disabled', 'disabled');
            $('.'+$(element).parent().attr('id')).attr('disabled', 'disabled'); //disable wrong button zodat de vraag niet meer fout kan worden gekeurd

        }
        else {
            $(element).attr('disabled', 'disabled'); //disable de wrong button
            $('.'+ $(element).parent().attr('id')).attr('disabled', 'disabled'); //disable correct button zodat de vraag niet meer goedgekeurd kan worden
        }
    }


    function acceptTeam(data) {
        // clientID is: $(data).parent().attr('id').substr($(data).parent().attr('id').indexOf(' ')+1);
        // teamnaam is: $(data).parent().attr('id').substr(0,$(data).parent().attr('id').indexOf(' '));
        amountofsignins = (amountofsignins - 1);
        addTeam($(data).parent().attr('id').substr(0, $(data).parent().attr('id').indexOf(' ')), $(data).parent().attr('id').substr($(data).parent().attr('id').indexOf(' ') + 1), null);
        $(data).parent().hide();
        if (amountofsignins === 0) {
            $('.popup').hide();
        }
    }

    function stopronde() {
        $('.endroundbtn').attr('disabled', 'disabled');   //("disabled");
        socket.emit('endround', {roomname: roomname, answers: answers})
        answers = [];
        $('.correctbutton').removeAttr("disabled");
        $('.wrongbutton').removeAttr("disabled");
    }

    function addTeam(name, id, score) {
        if (score === undefined || score === null) {
            score = 0;
        }
        $(".content-box .row .col.s3.scores").append("<div id='"+ name +"' class='card'><div class='card-content'><p> " + name + "</p></div><div class='card-action'><a>Score: <span id='score'>" + score + "</span></a></div></div>");
        socket.emit('teamisAccepted', {roomname: roomname, teamID: id, teamnaam: name});
    }

    function declineTeam(data) {
        amountofsignins = (amountofsignins - 1);
        teamisRefused($(data).parent().attr('id').substr($(data).parent().attr('id').indexOf(' ') + 1));
        $(data).parent().hide();
        if (amountofsignins === 0) {
            $('.popup').hide();
        }
    }

    function teamisRefused(clientID) {
        clientID.trim();
        socket.emit('teamisRefused', {clientID: clientID});
    }

    function closeModal(roompassword) {
        CreateRoom(roompassword);
        $('.modal').closeModal();
    }

    function CreateRoom(roompassword) {
        $("#room-id").html(roompassword);
        socket.emit('joinOrCreate', {roomname: roompassword, funtie: 'create'});
        roomname = roompassword;
    }
</script>