
<div class="flex-wrapper-master">
  <div class="flex-container z-depth-2">
    <div class="row">
      <div class="col s12">
        <div class="title-box">
          <h1>QuizMaster</h1>
          <button onclick="testfunctie()">Testfunctie</button>
        </div>
        <div class="content-box">
          <div class="row">
            <div class="col s3 scores">
              <div class="title-box">
                <h4>Score</h4>
              </div>
              <!-- TEAM WITH SCORE WILL APPEND HERE -->
            </div>

            <div class="col s6">
              <div class="title-box">
                <h4>Content</h4>
              </div>

              <div>
                <p> Question: {{masterQuestion}}</p>
                <p> Answer:   {{masterAnswer}}</p>
              </div>

              <hr>

              <div id="answers-holder">
              </div>
            </div>

            <div class="col s3">
              <div class="title-box">
                <h4>Questions</h4>
              </div>

              <div class="row card-holder">
                <div class="col s12">
                  <div class="card" ng-repeat="q in getQuestions" ng-click="selectQuestion(q)">
                    <div class="card-content">
                      <p style="color: #000;">{{ q.question }}</p>
                    </div>
                    <div class="card-action"><a>categorie: {{ q.category }}</a></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="popup" style="display: none;">
  </div>

  <div class="modal">
    <div class="modal-content">
      <h4>Create a new room</h4>
      <form>
        <label for="roompassword"></label>
        <input id="roompassword" type="text" name="name" placeholder="Type here..." id="teamname"/>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" onclick="closeModal(document.getElementById('roompassword').value)" class="waves-effect btn-flat">agree</button>
    </div>
  </div>
</div>
<script type="text/javascript">

  $(window).resize(function() {
    var totalHeight = $(window).height();
    var offsetTop   = $('.card-holder').offset().top;

    $('.card-holder').css('height', ((totalHeight - offsetTop) - 15));
  });

  $(document).ready(function() {
    var totalHeight = $(window).height();
    var offsetTop   = $('.card-holder').offset().top;

    $('.card-holder').css('height', ((totalHeight - offsetTop) - 15));
  });



  $('body').removeAttr('style');
  $('body').css({ 'background-image' : "url(/assets/images/grey_wash_wall.png)" });
  var socket = io.connect(document.location.protocol+'//'+document.location.host);
  var roomname;
  var amountofsignins = 0;

  console.log(document.location.protocol + '//' + document.location.host);
  $('.modal').openModal({
    dismissible: false
  });
  
  $("input#roompassword").keyup(function(event){
    if(event.keyCode == 13){
        $("button").click();
    }
  });

  socket.on('nieuweclient', function(data){
    //console.log("nieuw teamnaam: " + data.Teamname + " ID: "+data.clientID);
    amountofsignins = (amountofsignins + 1);
    $('.popup').append('\
      <div class="popup-content" id="'+ data.Teamname +' ' + data.clientID + ' ">\
          <span> Mag het team '+ data.Teamname +' joinen?</span>\
          <button onclick="acceptTeam(this)" class="agree">Agree</button>\
          <button onclick="declineTeam(this)" class="decline">Decline</button>\
      </div>\
    ');
    $('.popup').show();
  });

  socket.on('testttt', function() {
    console.log("ik heb zojuist mijn eigen testfunctie binnen gekregen");
  });

  var answerCount = 1;

  socket.on('sendAnswer', function(data) {
    //console.log(data);
    $('#answers-holder').append('<div> ' + answerCount + ") " + data.answer + ' </div>');
    //console.log('received a answer');
    answerCount = (answerCount + 1);
  });

  function acceptTeam(data) {
    // clientID is: $(data).parent().attr('id').substr($(data).parent().attr('id').indexOf(' ')+1);
    // teamnaam is: $(data).parent().attr('id').substr(0,$(data).parent().attr('id').indexOf(' '));
    amountofsignins = (amountofsignins - 1);
    addTeam($(data).parent().attr('id').substr(0,$(data).parent().attr('id').indexOf(' ')),$(data).parent().attr('id').substr($(data).parent().attr('id').indexOf(' ')+1) , null);
    $(data).parent().hide();
    if (amountofsignins === 0) {
      $('.popup').hide();
    }
  }

  function addTeam(name, id, score) {

    if(score === undefined || score === null) { score = 0; }
    $(".content-box .row .col.s3.scores").append("<div class='row'><div class='col s6'><p> " + name + "</p></div><div class='col s6'><p>" + score + "</p></div></div>");
    socket.emit('teamisAccepted', {roomname: roomname, teamID: id, teamName: name});
  }

  function declineTeam(data) {
    amountofsignins = (amountofsignins - 1);
    teamisRefused($(data).parent().attr('id').substr($(data).parent().attr('id').indexOf(' ')+1));
    $(data).parent().hide();
    if (amountofsignins === 0) {
      $('.popup').hide();
    }
  }


  function teamisRefused(clientID) {
    clientID.trim();
    socket.emit('teamisRefused', {clientID: clientID});
    //console.log("ik heb client met clientID refused: " + clientID);
  }


  function testfunctie() {
    socket.emit('testfunctie', "hellooooooditiseenawesometest");
    //console.log("testfunctie");
  }

  function closeModal(roompassword) {
    CreateRoom(roompassword);
    $('.modal').closeModal();
  }

  function CreateRoom(roompassword) {
    socket.emit('joinOrCreate', {roomname: roompassword, funtie: 'create'});
    roomname = roompassword;
    //console.log(roompassword);
  }
</script>