div.flex-wrapper-master
  div.flex-container.z-depth-2
    div.row
      div.col.s12
        div.title-box
          h1 QuizMaster
        div.content-box
            div.row
              div.col.s3
                div.title-box
                  h4 Score
                
                div.row
                  div.col.s6
                    p Group A
                  div.col.s6
                    p 12
                
                div.row
                  div.col.s6
                    p Group B
                  div.col.s6
                    p 4
                
                div.row
                  div.col.s6
                    p Group C
                  div.col.s6
                    p 2
               
                div.row
                  div.col.s6
                    p Group D
                  div.col.s6
                    p 2

                div.row
                  div.col.s6
                    p Group E
                  div.col.s6
                    p 2
              div.col.s5
                div.title-box
                  h4 Content
              div.col.s3
                div.title-box
                  h4 Questions

                div.row
                  div.col.s12
                    div.card
                      div.card-content
                        p Question #1
                      div.card-action
                        a categorie: History

                div.row
                  div.col.s12
                    div.card
                      div.card-content
                        p Question #2
                      div.card-action
                        a categorie: History


  
  div.modal
    div.modal-content
      h4 Bruv dat is sikh 
      p U avin a giggle ther m8? 
      p ill bash ye fookin ead in i sware on me mum
      
    div.modal-footer
      button(type="button" onclick="closeModal()").waves-effect.btn-flat agree
      
script(type="text/javascript").
  $('body').removeAttr('style');
  $('body').css({ 'background-image' : "url(/assets/images/grey_wash_wall.png)" });
  
  $('.modal').openModal();
  
  $("input#teamname").keyup(function(event){
    if(event.keyCode == 13){
        $("button").click();
    }
  });
  
  function closeModal() {
    $('.modal').closeModal();
  }
