<div class="flex-wrapper-master">
    <div class="flex-container z-depth-2">
        <div class="row">
            <div class="col s12">
                <div class="title-box">
                    <h1> Scoreboard </h1>
                </div>

                <div class="content-box row">

                    <div class="col s12">
                        <div class="title-box">
                            <h6> Round: 0 </h6>
                        </div>
                    </div>

                    <div id="team-scores" class="col s6">
                        <div class="card">
                            <div class="card-content">
                                Sjors
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-content">
                                Vincent
                            </div>
                        </div>
                    </div>

                    <div id="given-answers" class="col s6">
                        <div class="card">
                            <div class="card-content">
                                Antwoord
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-content">
                                Antwoord
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>