<div class="flex-wrapper-master">
    <div class="flex-container z-depth-2">
        <div class="row">
            <div class="col s12">
                <div class="title-box">
                    <h1> Scoreboard </h1>
                </div>

                <div class="content-box row">

                    <div class="col s12">
                        <div class="title-box">
                            <h6> Round: 0 </h6>
                        </div>
                    </div>

                    <div id="team-scores" class="col s6">
                        <div class="card">
                            <div class="card-content">
                                Sjors
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-content">
                                Vincent
                            </div>
                        </div>
                    </div>

                    <div id="given-answers" class="col s6">
                        <div class="card">
                            <div class="card-content">
                                Antwoord
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-content">
                                Antwoord
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal">
    <div id="modal" class="modal-content">
        <h4>Type in password to join a room</h4>
        <p class="error"></p>
        <form>
            <label for="roompassword"></label>
            <input id="roompassword" type="text" name="password" placeholder="Enter room password..."/>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" onclick="closeModal($('#roompassword').val())"
                class="waves-effect btn-flat">agree
        </button>
    </div>
</div>






<script type="text/javascript">
    var socket = io.connect(document.location.protocol + '//' + document.location.host);

    $(document).ready(function() {
        $('.modal').openModal({
            dismissible: false
        });
    });

    function closeModal(data) {
        socket.emit('addScoreboard', data);
    }

    socket.on('ScoreboardInit', function(accepted) {
        if(accepted.accepted === true) {
            $('.error').html("");
            $('.modal').closeModal();
        }
        else {
            $('.error').html("Room bestaat niet.");
        }
    });
</script>