<div class="flex-wrapper-team">
    <div class="flex-container z-depth-2">
        <div class="row">
            <div class="col s12">
                <div class="title-box">
                    <h1>Waiting for the first question..</h1>
                </div>
                <div class="content-box">
                    <form>
                        <input type="text" name="questionAnswer" placeholder="Answer..." id="answer" disabled/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal">
    <div id="modal" class="modal-content">
        <h4>Type in password to join a room</h4>

        <form>
            <label for="roompassword"></label>
            <input id="roompassword" type="text" name="password" placeholder="Enter room password..."/>
            <label for="teamname"></label>
            <input id="teamname" type="text" name="teamname" placeholder="Enter team name..."/>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" onclick="closeModal($('#roompassword').val(), $('#teamname').val())"
                class="waves-effect btn-flat">agree
        </button>
    </div>
</div>
<script type="text/javascript">
    $('.modal').openModal({
        dismissible: false
    });
    var Immemberofaroom = false;
    var MyID;
    var socket = io.connect(document.location.protocol + '//' + document.location.host);

    function closeModal(roompassword, teamname) {
        console.log("Teamnaam die geenterd is: " + teamname);
        joinRoom(roompassword, teamname);
        //meldAanwezigheid(teamname, roompassword);
        $('.modal').closeModal();
    }

    function joinRoom(roompassword, teamname) {
        socket.emit('join', {Teamname: teamname, Roomname: roompassword});
        console.log(roompassword);
    }

    function enterKey() {
        if (event.keyCode == 13) {
            $("button").click();
        }
    }

    $("input#answer").keyup(function () {
        console.log($(this).val());
        if (event.keyCode == 13) {
            socket.emit('sendGivenAnswer', {answer: $(this).val(), MyID: MyID});
            $(this).val("");
            $(this).attr("disabled", "disabled");
        }
    });

    $("input#roompassword").keyup(function (event) {
        enterKey();
    });

    $("input#teamname").keyup(function (event) {
        enterKey();
    });

    socket.on('refuse', function () {
        console.log("ik ben disconnected wss omdat het wachtwoord verkeerd is of omdat ik gedeclined ben");
        setTimeout(function () {
            // displayError();
            $('.modal').openModal();
            document.getElementById('roompassword').value = "";
        }, 500);
    });

    socket.on('JebentAccepted', function (data) {
        console.log("mag ik joinen?");
        console.log("data clientID is: " + data.clientID);
        console.log("mijn var ID is:   " + MyID);
        if (!Immemberofaroom && data.clientID.trim() === MyID.trim()) {
            Immemberofaroom = true;
            socket.emit('joinOrCreate', {roomname: data.roomname, functie: "join"});
            console.log("ik ben accepted! yay voor room: " + data.roomname);
        }
    });

    socket.on('yourID', function (data) {
        console.log("mijn id is: " + data.socketID);
        MyID = data.socketID;
    });


    socket.on('testttt', function () {
        console.log("ik heb zojuist een testfunctie binnengekregen");
    });

    socket.on('questionPull', function (data) {
        console.log(data);
        $('.title-box h1').html(data.question);

        $('#answer').removeAttr('disabled');
    });

    //    function displayError() {
    //        if (document.getElementById("modal")) {
    //            var divvv = document.getElementById("modal");
    //            var addd = document.createElement("h3");
    //            var value = document.createTextNode("Het ingevulde wachtwoord is vekeerd");
    //            divvv.appendChild(value);
    //            addd.appendChild(divvv);
    //        }
    //    }

</script>