//output:team.html, pretty:true

div.flex-wrapper
  div.flex-container.z-depth-2

    div.row
      div.col.s12
        div.title-box
          h1 #1-Wat is de hoofdstad van Nederland?

        div.content-box
          form
            input(type='text' name='question' placeholder='Answer...')
