<div ng-controller="team-controller">
    <!-- Form for creating the team-name -->
    <form autocomplete="off">
        <h1> Fill in the Password</h1>

        <form>
            <input type="text" class="form-input" ng-model="roomPassword" autocomplete="off"
                   placeholder="Please enter your room password" autofocus required/>
            <button type="submit" class="btn col--2-of-2" ng-click="requestJoinRoom()"> NEXT <i class="fa fa-angle-right"></i> </button>
        </form>

    </form>
</div>
