<div class="content-holder" ng-controller="master-controller">
    <!-- Logo -->
    <img src="/img/pubquiz-logo.png" alt="pubquiz"/>

    <!-- Form for creating the team-name -->
    <form class="form-holder" autocomplete="off">
        <h1> Progress: 1/2</h1>
        <input type="text" id="teamname" ng-model="teamName" autocomplete="off"
               placeholder="Please enter your teamName" autofocus required/>
        <button class="submit" ng-click="sendTeamName()"> NEXT <i class="fa fa-angle-right"></i> </button>
    </form>
</div>