html(ng-app="quizzerApp")
  head
    title Quiz
    
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    link(href='plugins/css/materialize.min.css' rel='stylesheet')
    link(href='assets/css/style.min.css' rel='stylesheet')s
    script(src='plugins/js/jquery.min.js')
    script(src='plugins/js/materialize.min.js')
    script(src='https://cdn.socket.io/socket.io-1.3.7.js')
    script(src='/plugins/js/angular.min.js')
    script(src='/plugins/js/angular-route.min.js')
    script(src='assets/js/quizzer.js')
    
  body(style="background-image: url('/assets/images/history.jpg'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"  ng-controller="quizzerController").overflow-hidden.mobile-max-view-height
    div.navbar-fixed
      nav
        div.nav-wrapper
          div.left
            a(href="/").brand-logo 
              img(src='assets/images/logo.png')
    div(ng-view)