@import "reset";
@import "grid";
@import "fonts";
@import "../plugins/foundation-icons/foundation-icons.css";

/********************************************************************************
********************************* VARIABLES *************************************
********************************************************************************/
$darker: #17171d;
$dark: #22222a;
$medium: #4e4e54;
$light: #ffffff;

/********************************************************************************
********************************** GENERAL **************************************
********************************************************************************/
body {
  background: $dark;
  color: $light;
  font-size: 14pt;
}

a {
  color: $light;
  text-decoration: none;
}

.spacing {
  margin: 7.5px 0px;
}

/********************************************************************************
*********************************** FORMS ***************************************
********************************************************************************/
.form-input {
  margin: 0px 0px 15px 0px;
  border: none;
  padding: 15px;
  width: calc(100% - 30px);
  color: $dark;
  outline: none;

  &:focus {
    outline: none;
    border: none;
  }
}

/********************************************************************************
********************************** BUTTONS **************************************
********************************************************************************/
.btn {
  color: $dark;
  background: $dark;
  border: 1px solid $light;
  color: $light;
  padding: 15px;
  transition: all 0.2s ease;

  &:hover {
    background: $darker;
  }
}

/********************************************************************************
********************************* CONTAINER *************************************
********************************************************************************/
.container {
  padding-top: 30px;
  position: relative;
  display: table;
  left: 50%;
  transform: translate(-50%);
  width: 75%;
  max-width: 500px;
  min-width: 320px;
}

/********************************************************************************
********************************** HEADER ***************************************
********************************************************************************/
.header {
  width: 100%;
  margin-bottom: 30px;

  img {
    width: 100%;
  }
}
/********************************************************************************
********************************* MAIN-MENU *************************************
********************************************************************************/
.main-menu {
  list-style: none;
  display: table;
  clear: both;
  width: 100%;
  position: relative;
  top: 50%;
  left: 0px;
  transform: translate(0%, 50%);

  li {
    float: left;
    width: 100%;

    a {
      display: inline-block;
      width: calc(100% - 60px);
      background: $light;
      color: $dark;
      padding: 40px 30px;
      font-weight: 600;
    }

    a:hover {
      background: rgba($light, 0.5);
    }
  }
}

